

<div id="one">
    
</div>

    
    

<div id="bottom">
    <video src="/video/accueilbottom.mp4" autoplay muted loop></video>
    <div>
        <h2>
            Saviez-vous que plus de 39 % des Français âgés de 16 à 64 ans ne possèdent pas de compte Instagram ? 
        </h2>
        <h2>
            Avec notre solution, vous pouvez élargir votre présence en ligne et toucher cette clientèle non présente sur les réseaux sociaux.
        </h2>
        
    </div>
    <span class="background-button" style="width: auto;">
        <button class="buttonform">S'abonner</button>
    </span>
</div>