<div id="video">

    <video src="/video/demo.mp4" autoplay muted loop></video>
    <div id="title">
        <p class="titre">
            Scaly Pic’s simplifie le partage et la livraison des photos pour les photographes.  
        </p>

        <!-- <div class="background-button" style="width: auto">
            <button class="buttonform">Rejoindre</button>
        </div> -->
    </div>
</div>



<div id="cards">

    <h2 class="titre">
        Pourquoi choisir Scaly Pic's ?
    </h2>

    

    <div class="test">
        <div class="card">
            <!-- ici image portfolio -->
            <img src="imgPc/portfolio1.png" alt="Icône haute qualité">
            
            <div class="backgroundcard">
                <div >
                    <h3 class="titre">Qualité d’image optimale</h3>
                    <p>Vos photos affichées en 2K et livrées en pleine qualité, sans aucune compression.</p>
                </div>
            </div>
            
            
        </div>
    </div>
    

    <div class="test">
        <div class="card">
            <!-- video téléchargement -->
            <img src="imgPc/portfolio1.png" alt="Icône rapidité">
            
            <div class="backgroundcard" style="border-radius: 0;">
                <div>
                    <h3 class="titre">Livrez vos clients</h3>
            
                    
            
                <p>Un outil clé en main, prêt à l’emploi en quelques clics. Pas besoin de coder ni de créer un design !</p>
                </div>
                
            </div>
        </div>
    </div>

    
    <div class="test">
        <div class="card">
            <!-- vidéo rapidité -->
            <img src="imgPc/portfolio1.png" alt="Icône responsive">
            
            <div class="backgroundcard">
                <div>
                    <h3 class="titre">Gagnez du temps !</h3>
                    <p>Déjà conçu avec un design moderne, entièrement compatible avec tous les écrans et optimisé pour des performances maximales, garantissant des temps de chargement réduits. Achetez, utilisez !</p>
                </div>
            </div>
            
            
        </div>
    </div>

    


    <p class="titre">Scaly Pic's se positionne comme une alternative idéale entre les constructeurs de sites web et les réseaux sociaux.</p>

    <p class="titre">Saviez-vous que plus de 39 % des Français âgés de 16 à 64 ans ne possèdent pas de compte Instagram ? Avec notre solution, vous pouvez élargir votre présence en ligne et toucher cette clientèle non présente sur les réseaux sociaux.</p>

    <p class="titre">Gagnez du temps avec notre produit 100% opérationnel dès l'achat. Fini les heures perdues à créer un design, nous l'avons déjà fait pour vous !</p>


    <div class="background-button" style="width: auto;">
        <button class="buttonform">Pic's</button>
    </div>


    
    <div class="cardplus">
        <div class="back">
            <div class="cardimg" >
                <img src="imgPc/portfolio1.png" alt="Icône rapidité">
            </div>
        
            <div class="lebackflou"></div>
            <div class="leback">

            </div>
            <div class="cardtext" >
            </div>
        </div>
    </div>

    <div class="cardplus">
        <div class="back">
            <div class="cardimg" >
            </div>
        
            <div class="lebackflou"></div>
            <div class="leback">

            </div>
            <div class="cardtext" >
            </div>
        </div>
    </div>

    <div class="cardplus">
        <div class="back">
            <div class="cardimg" >
            </div>
        
            <div class="lebackflou"></div>
            <div class="leback">

            </div>
            <div class="cardtext" >
            </div>
        </div>
    </div>

</div>
