

<div id="one">
    <div class="poly">
        <h1>
            Scaly Pic's
        </h1>
        <h2>
            L'alternative parfaite entre réseaux sociaux et créateur de site web !
        </h2>
    </div>
    <div class="polyshadow">

    </div>
    <div>

    </div>
</div>

    
    <div class="cardplus">
        <div class="back">
            
            <div class="cardimg" >
                <img src="imgPc/portfolio2.png" alt="Icône rapidité">
            </div>
        
            <div class="lebackflou"></div>
            <div class="leback">
                
            </div>
            <div class="cardtext" >
                <p>Vos photos affichées en 2K et livrées en pleine qualité, sans aucune compression.</p>
            </div>
            <h3>Qualité d’image optimale</h3>
        </div>
    </div>

    <div class="cardplus">
        <div class="back">
            <div class="cardimg" >
                <img src="imgPc/portfolio2.png" alt="Icône rapidité">
            </div>
        
            <div class="lebackflou"></div>
            <div class="leback">

            </div>
            <div class="cardtext" >
                <p>Un outil clé en main, prêt à l’emploi en quelques clics. Pas besoin de coder ni de créer un design !</p>
            </div>
            <h3>Livrez vos clients</h3>
        </div>
    </div>

    <div class="cardplus">
        <div class="back">
            <div class="cardimg" >
                <img src="imgPc/portfolio2.png" alt="Icône rapidité">
            </div>
        
            <div class="lebackflou"></div>
            <div class="leback">

            </div>
            <div class="cardtext" >
                <p>Déjà conçu avec un design moderne, entièrement compatible avec tous les écrans. Achetez, utilisez !</p>
            </div>
            <h3>Gagnez du temps</h3>
        </div>
    </div>



    



<div id="bottom">
    <video src="/video/accueilbottom.mp4" autoplay muted loop></video>
    <div>
        <h2>
            Saviez-vous que plus de 39 % des Français âgés de 16 à 64 ans ne possèdent pas de compte Instagram ? 
        </h2>
        <h2>
            Avec notre solution, vous pouvez élargir votre présence en ligne et toucher cette clientèle non présente sur les réseaux sociaux.
        </h2>
        
    </div>
    <span class="background-button" style="width: auto;">
        <button class="buttonform">S'abonner</button>
    </span>
</div>