<div id="one">
    <div id="navback">
    
        <div >
            <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp"></div>
        </div>
    
        <div >
            <div class="background">
                <img class="imgform" src="/icon/burger.svg" alt="logo du menu">
            </div>
        </div>
        
    </div>

    <div id="Abonnement" class="pageback">
        <h2>Abonnement</h2>
        <div class="cara">
            <div>
                <p class="param">Statut</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Produit</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Option</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Date de souscription</p>
                <p class="value"></p>
            </div>
        </div>
    </div>
    <div id="general" class="pageback">
        
        <div class="cara">
            <h2>Générales</h2>
            <div>
                <p class="param">Nom</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Prénom</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Age</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Adresse</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Téléphone</p>
                <p class="value"></p>
            </div>
        </div>
        
        <div>
            <h2>Sécurité</h2>
            <div>
                <p class="param">Adresse Mail</p>
                <p class="value"></p>
            </div>
            <div>
                <p class="param">Mot de passe</p>
                <p class="value"></p>
            </div>
        </div>
    </div>
</div>

