<div id="one">
    <div id="navback">
    
        <div >
            <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp"></div>
        </div>
    
        <div id="burger" >
            <div class="background">
                <img class="imgform" src="/icon/burger.svg" alt="logo du menu">
            </div>
        </div>
        
    </div>

    <div id="sous-nav" class="translate">
        <div>
            <p id="sub" class="page">Abonnement</p>
            <p id="gen" class="page">Général</p>
            
        </div>
        
        <div id="logout">
            <span class="background-button" style="width: auto;">
                <button type="button" id="logout" class="buttonform" style="background-color: black;">Déconnexion</button>
            </span>
        </div>
    </div>

    <div id="abonnement" class="pageback sub">
        <div class="cara">
            <h2>Produit</h2>
           
            <div>
                <p class="param">Produit</p>
                <p class="value" id="subscriptionProduct">1</p>
            </div>
            <div>
                <p class="param">Couleur</p>
                <p class="value" id="subscriptionColor">1</p>
            </div>
            <div>
                <p class="param">Stockage</p>
                <p class="value" id="subscriptionStock">1</p>
            </div>
            <div>
                <p class="param">Prélèvement</p>
                <p class="value" id="typePaiement">1</p>
            </div>
            <div>
                <p class="param">Prix</p>
                <p class="value" id="price">1</p>
            </div>
            <div>
                <p class="param">ID Scaly Pic's</p>
                <p class="value" id="siteId">1</p>
            </div>
            <div class="background-button" style="width: auto;">
                <button id="manage-billing" class="buttonform" style="margin: 2px;">Changer d'offre</button>
            </div>
        </div>
        <div class="cara" id="abonnementGestion">
            <h2>Abonnement</h2>
            <div>
                <p class="param">Statut</p>
                <p class="value" id="subscriptionStatus">1</p>
            </div>

            <p class="itserr">Il semble y avoir un problème avec votre abonnement ! </br>Verifiez votre méthode de paiement au risque d'une fermeture de votre compte.</p>
            
            <div class="background-button" style="width: auto;">
                <button id="manage-billing" class="buttonform" style="margin: 2px;">Gérer mon abonnement</button>
            </div>
            
        </div>
    </div>
    
    <div id="general" class="pageback gen">
        <div class="cara">
            <h2>Générales</h2>
            <div>
                <p class="param">Nom</p>
                <p class="value" id="lastName">1</p>
            </div>
            <div>
                <p class="param">Prénom</p>
                <p class="value" id="firstName">1</p>
            </div>
            <div>
                <p class="param">Date de Naissance</p>
                <p class="value" id="birthDate">1</p>
            </div>
            <div>
                <p class="param">Adresse</p>
                <p class="value" id="address">1</p>
            </div>
            <div>
                <p class="param">Téléphone</p>
                <p class="value" id="phoneNumber">1</p>
            </div>
        </div>
    
        <div class="cara">
            <h2>Sécurité</h2>
            <div>
                <p class="param">Adresse Mail</p>
                <p class="value" id="email">1</p>
            </div>
            <div>
                <p class="param">Adresse Mail vérifiée</p>
                <p class="value" id="isVerified">1</p>
            </div>
            <div>
                <p class="param">Mot de passe</p>
                <p class="value" id="password">*********</p>
            </div>
            <div class="background-button" style="width: auto;">
                <button id="manage-billing" class="buttonform" style="margin: 2px; background-color: var(--red);">Supprimer le compte</button>
            </div>
        </div>
    </div>
    
    
    
</div>




