<div>
    <div >
        <h2 class="scroll-fade">N'attendez plus !</h2>
        <div id="reseaux" class="scroll-fade">
            
        </div>
    </div>
</div>

<div>
    <div class="img"></div>
    <div id="form">
        <div>
            <p>Nom*</p>
            <input type="text" placeholder="Votre nom" id="inputnom">
        </div>
        <div>
            <p>Adresse e-mail*</p>
            <input type="email" name="" placeholder="Votre adresse e-mail" id="inputmail">
        </div>
        <div>
            <p>Message*</p>
            <textarea name="" id="inputmsg" placeholder="Votre message"></textarea>
        </div>
        <button id="submit">Envoyer</button>
    </div>
</div>
