<div>
    <div >

        <p>
            Si vous rencontrez un problème avec notre produit, si vous avez des suggestions d'amélioration ou pour toute autre demande, nous vous invitons à nous contacter via le formulaire de contact ou directement par email
        </p>

    </div>
</div>

<div>
    <video id="meduse1" src="/video/meduse3.mp4" autoplay muted loop></video>
    <!-- <video  id="meduse2" src="/video/medusedown.mp4" autoplay muted loop></video> -->
    <div id="form">
        <div>
            <p>Nom*</p>
            <input type="text" placeholder="Votre nom" id="inputnom">
        </div>
        <div>
            <p>Adresse e-mail*</p>
            <input type="email" name="" placeholder="Votre adresse e-mail" id="inputmail">
        </div>
        <div>
            <p>Message*</p>
            <textarea name="" id="inputmsg" placeholder="Votre message"></textarea>
        </div>
        <div class="background-button" style="width: auto;">
            <button class="buttonform" id="submit">Envoyer</button>
        </div>
    </div>
</div>

