

<div class="conteneurform translate">
    <div class="conteneurimgform">
        <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp"></div>
    </div>
    <h2 class="titreform">Connexion</h2>
    <form class="formform" action="">
        <input class="inputform" type="text" id="id" placeholder="username" style="padding-right: 60px;">
        <div style="position: relative; width: 100%;">
            <img src="/icon/eye-close.svg" id="view" alt="oeil fermés" style="position: absolute;height: 55px ;width: 55px;transform: translateY(-50%); right: 0;top: 50%;">
            <img src="/icon/eye-open.svg" id="notview" alt="oeil ouvert" style="position: absolute;height: 55px ;width: 55px;transform: translateY(-50%); right: 0;top: 50%; display: none;">
            <input class="inputform" type="password" id="password" placeholder="password" style="padding-right: 60px;">
        </div>
        <div class="background" ><button type="button" id="submit-button" class="buttonform">Valider</button></div>
    </form>
</div>

