<div id="pics">
    <svg width="0" height="0" style="position:absolute">
        <filter id="textShadowFilter" x="-50%" y="-50%" width="200%" height="200%">
            <feDropShadow dx="0" dy="0" stdDeviation="6" flood-color="black" flood-opacity="0.4" />
        </filter>
    </svg>

    <div class="choice-wrapper">
        <div class="choice-box white">
            <!-- <div class="background">
                <img src="/logo/logotransparantblanc.png" alt="" class="imgform">
            </div> -->

            <p class="slogan">Pureté, minimalisme, idéal pour un portfolio lumineux.</p>


            <div class="animebuttoncontent">
                <button id="blanchoisi" style="background-color: #000; color: #fff;">Blanc</button>
                <div class="animebutton" style="background-color: #fff;"></div>
            </div>

            <div id="blancontent">

                <div class="returncontent">
                    <img src="/icon/returnoir.svg" alt="">
                </div>

                <div class="contentcarousel">
                    <div class="carousel">
                        <div class="carousel__item active">
                            <div class="image-container">
                                <img src="imgPc/portfolio1.png" class="main-img" />
                                <img src="imgPc/portfolio1.png" class="mirror" />
                            </div>
                        </div>
                        <div class="carousel__item left">
                            <div class="image-container">
                                <img src="imgPc/portfolio1.png" class="main-img" />
                                <img src="imgPc/portfolio1.png" class="mirror" />
                            </div>
                        </div>
                        <div class="carousel__item right">
                            <div class="image-container">
                                <img src="imgPc/portfolio1.png" class="main-img" />
                                <img src="imgPc/portfolio1.png" class="mirror" />
                            </div>
                        </div>
                        <div class="carousel__item left">
                            <div class="image-container">
                                <img src="imgPc/portfolio1.png" class="main-img" />
                                <img src="imgPc/portfolio1.png" class="mirror" />
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="choixpacktitre">Choisie ton Pack</h2>

                <div class="choixpack">
                    <div class="imgscontent">
                        <img src="photos/choixvide2.png" alt="" class="normal">
                        <div class="layout">
                            <img src="icon/layout.svg" alt="">
                        </div>
                        <div id="subcategoryclient" class="contentToutesPhotos scrollgalerie visible">
                            <div class="subcategoryclient-b"><img class="animphoto visible" fetchpriority="low"
                                    decoding="async" loading="lazy" src="White/1742805143259-210.webp"></div>
                            <div class="subcategoryclient-b"><img class="animphoto visible" fetchpriority="low"
                                    decoding="async" loading="lazy" src="White/1742805143259-402.webp"></div>
                            <div class="subcategoryclient-b"><img class="animphoto visible" fetchpriority="low"
                                    decoding="async" loading="lazy" src="White/1742805143259-478.webp"></div>
                            <div class="subcategoryclient-b"><img class="animphoto visible" fetchpriority="low"
                                    decoding="async" loading="lazy" src="White/1742805143260-451.webp"></div>
                            <div class="subcategoryclient-b"><img class="animphoto visible" fetchpriority="low"
                                    decoding="async" loading="lazy" src="White/1742805143260-512.webp"></div>
                            <div class="subcategoryclient-b"><img class="animphoto visible" fetchpriority="low"
                                    decoding="async" loading="lazy" src="White/1742805143260-733.webp"></div>
                            <div id="sentinel-subcat"></div>
                        </div>

                        <div id="imgsMansory" class="contentToutesPhotos scrollgalerie">
                            <div class="imgsMansory"><img fetchpriority="low" decoding="async" loading="lazy"
                                    style="width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 20px; margin-bottom: 2px; break-inside: avoid;"
                                    src="White/1742805143259-210.webp" class="visible"><img
                                    fetchpriority="low" decoding="async" loading="lazy"
                                    style="width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 20px; margin-bottom: 2px; break-inside: avoid;"
                                    src="White/1742805143259-402.webp" class="visible"><img
                                    fetchpriority="low" decoding="async" loading="lazy"
                                    style="width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 20px; margin-bottom: 2px; break-inside: avoid;"
                                    src="White/1742805143259-478.webp" class="visible"><img
                                    fetchpriority="low" decoding="async" loading="lazy"
                                    style="width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 20px; margin-bottom: 2px; break-inside: avoid;"
                                    src="White/1742805143260-451.webp" class="visible"><img
                                    fetchpriority="low" decoding="async" loading="lazy"
                                    style="width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 20px; margin-bottom: 2px; break-inside: avoid;"
                                    src="White/1742805143260-512.webp" class="visible"><img
                                    fetchpriority="low" decoding="async" loading="lazy"
                                    style="width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 20px; margin-bottom: 2px; break-inside: avoid;"
                                    src="White/1742805143260-733.webp" class="visible">
                                    <div id="sentinel-mansory"></div>
                            </div>
                        </div>
                    </div>

                    <div class="choicepack" id="choicepackblanc">
                        <h2>Unlimited</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="choice-box black">

            <h2 class="titless">
                <span class="black filtered">CHOISIS</span>
                <span class="gradientTA filtered">TA</span>
                <span class="white">TEAM</span>
            </h2>



            <div class="animebuttoncontent">
                <button id="noirchoisi" style="background-color: #fff; color: #000;">Noir</button>
                <div class="animebutton" style="background-color: #000;"></div>
            </div>


            <p class="slogan">Élégance, contraste, parfait pour une ambiance cinématographique.</p>

            <div id="noircontent">
                <div class="returncontent">
                    <img src="/icon/returnblanc.svg" alt="">
                </div>
            </div>

        </div>
    </div>

</div>
<!-- <p class="title">Élégant et intemporel, il affirme votre style tout en mettant vos images au premier plan. Idéal pour les photographes studio, mode ou corporate.</p> -->
<!-- <p class="title" >Un look épuré et professionnel, parfait pour les photographes spécialisés dans le mariage, le lifestyle ou les portraits lumineux.</p> -->

<div id="conf" style="display: none;">

    <div id="choice">
        <input type="text" id="colorSelect" value="Blanc">
        <div id="colorsChoice">
            <div id="Blanc" class="colorBubble"></div>
            <div id="Noir" class="colorBubble"></div>
        </div>
        <select name="selectPack" id="selectPack">
            <option value="Starter">Starter</option>
            <option value="Pro" selected>Pro</option>
            <option value="Unlimited">Unlimited</option>
        </select>
    </div>


    <button id="formulaire">Continuer</button>
</div>
</div>

<div id="form" style="display: none;">

    <div class="blur-background"></div>


    <div id="paiementformSuccess" class="formProduit">

        <div id="successAnim" style="width: 150px; height: 150px;"></div>

        <p class="good msgInscription">Votre compte à bien été créé !</p>

        <div class="background-button" id="buyyy">
            <div class="buttonform">Procéder au paiement</div>
        </div>

        <div class="conteneurimgformproduit">
            <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp">
            </div>
        </div>

    </div>

    <div id="paiementformEchec" class="formProduit">

        <div id="echecAnim" style="width: 150px; height: 150px; transform: scale(1.4);"></div>

        <p class="notgood msgInscription">Oops ! une erreur est survenu de notre coté</p>

        <div class="background-button" id="retour">
            <div class="buttonform">Réessayer</div>
        </div>

        <div class="conteneurimgformproduit">
            <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp">
            </div>
        </div>
    </div>


    <div id="infogeneral" class="formProduit" style="display: none;">
        <form class="iii translate">
            <div>
                <label for="nom">Nom :</label>
                <input class="inputform2" type="text" id="nom" name="nom" autocomplete="family-name" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="prenom">Prénom :</label>
                <input class="inputform2" type="text" id="prenom" name="prenom" autocomplete="given-name" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="date">Date de naissance :</label>
                <input class="inputform2" type="date" name="date" id="date" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="adresse">Adresse :</label>
                <input class="inputform2" type="text" id="adresse" name="adresse" autocomplete="street-address"
                    required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="ville">Ville :</label>
                <input class="inputform2" type="text" id="ville" name="ville" autocomplete="address-level2" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="code_postal">Code Postal :</label>
                <input class="inputform2" type="text" id="code_postal" name="code_postal" pattern="[0-9]{5}"
                    maxlength="5" autocomplete="postal-code" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="mail">E-mail :</label>
                <input class="inputform2" type="email" id="mail" name="email" autocomplete="email" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="tel">Numéro de téléphone :</label>
                <input class="inputform2" type="tel" id="tel" name="tel" autocomplete="tel" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input class="inputform2" type="password" id="password" name="password" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="passwordconfirme">Confirmer mot de passe :</label>
                <input class="inputform2" type="password" id="passwordconfirme" name="passwordconfirme" required>
                <p class="errform"></p>
            </div>
            <span class="background-button">
                <button id="submit-button" class="buttonform">Valider</button>
            </span>

        </form>
    </div>



</div>