<div id="pics">

    <img id="backimg" src="/white/whiteback.jpg" alt="fond d'écran white">

    <div id="contentselect">
        <!-- <select name="" id="">
            <option value="">White</option>
            <option value="">Black</option>
            <option value="">Pink</option>
            <option value="">Green</option>
        </select> -->
    
        <!-- <select name="" id="">
            <option value="">Portable</option>
            <option value="">Tablette</option>
            <option value="">Dekstop</option>
        </select> -->
        <button><span>white  v</span></button>
        <button><span>Portable  v</span></button>
    </div>

    <!-- <h2>Configuration</h2> -->
    <img id="produitimg" src="/imgPc/portfolio2.png" alt="photo du produit scaly p'ics">
    
    <div id="conf">
        
        
        <!-- <div id="goform">
            <div style="background-color: aqua;">
                <button class="buttonform">Commencer</button>
            </div>
        </div> -->
    </div>
</div>