<div id="pics">

    <img class="backimg" id="Blanc" src="/Blanc/Blancback.jpg" alt="fond d'écran Blanc">
    <img class="backimg" id="Noir" style="display: none;" src="/Noir/Noirback.jpg" alt="fond d'écran Noir">
    <img class="backimg" id="Vert" style="display: none;" src="/Vert/Vertback.jpg" alt="fond d'écran Vert">
    <img class="backimg" id="Rose" style="display: none;" src="/Rose/Roseback.jpg" alt="fond d'écran Rose">

    

    <div id="place"></div>

    <img id="produitimg" class="translate" src="/imgPc/portfolio2.png" alt="photo du produit scaly p'ics">
    
    <div id="conf">

        <div id="choice">
            <input type="text" id="colorSelect" value="Blanc">
            <div id="colorsChoice">
                <div id="Blanc" class="colorBubble"></div>
                <div id="Noir" class="colorBubble"></div>
                <div id="Rose" class="colorBubble"></div>
                <div id="Vert" class="colorBubble"></div>
            </div>
            <select name="selectPack" id="selectPack">
                <option value="Starter">Starter</option>
                <option value="Pro" selected>Pro</option>
                <option value="Unlimited">Unlimited</option>
            </select>
        </div>
        

        <div id="titleProduit">
            <h2>Pic's</h2>
            <h3 id="colorResult">White</h3>
        </div>
        <div id="contentpricee">
            <div id="price">
                <p class="bse-price" id="prixpack">14</p>
                <span>.99</span>
                <p class="bse-price">/</p>
                <span>mois</span>
            </div>
            <div class="barre"></div>
            <p id="pack">Pro</p>
            <p id="stockagePack">25<span>go</span> de Stockage</p>
        </div>
        
        <ul>
            <li>
                <p>* Photo en 2k, meilleure qualité que sur les réseaux sociaux</p>
            </li>
            <li>
                <p>* Livraisons client depuis le site sans compression</p>
            </li>
            <li>
                <p>* Immédiatement utilisable après achat</p>
            </li>
            <li>
                <p>* Sans engagement</p>
            </li>
        </ul>

        
        <button id="formulaire">Continuer</button>
    </div>
</div>

<div id="form">

    <div class="blur-background"></div>


    <div id="paiementformSuccess" class="formProduit">

        <div id="successAnim" style="width: 150px; height: 150px;"></div>
        
        <p  class="good msgInscription">Votre compte à bien été créé !</p>

        <div class="background-button" id="buyyy">
            <div class="buttonform">Procéder au paiement</div>
        </div>

        <div class="conteneurimgformproduit">
            <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp"></div>
        </div>

    </div>

    <div id="paiementformEchec" class="formProduit">

        <div id="echecAnim" style="width: 150px; height: 150px; transform: scale(1.4);"></div>

        <p class="notgood msgInscription">Oops ! une erreur est survenu de notre coté</p>

        <div class="background-button" id="retour">
            <div class="buttonform">Réessayer</div>
        </div>

        <div class="conteneurimgformproduit">
            <div class="background"><img class="imgform" src="logo/logotransparant.png" alt="logo entreprise siteUp"></div>
        </div>
    </div>


    <div id="infogeneral" class="formProduit" style="display: none;">
        <form class="iii translate">
            <div>
                <label for="nom">Nom :</label>
                <input class="inputform2" type="text" id="nom" name="nom" autocomplete="family-name" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="prenom">Prénom :</label>
                <input class="inputform2" type="text" id="prenom" name="prenom" autocomplete="given-name" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="date">Date de naissance :</label>
                <input class="inputform2" type="date" name="date" id="date" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="adresse">Adresse :</label>
                <input class="inputform2" type="text" id="adresse" name="adresse" autocomplete="street-address" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="ville">Ville :</label>
                <input class="inputform2" type="text" id="ville" name="ville" autocomplete="address-level2" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="code_postal">Code Postal :</label>
                <input class="inputform2" type="text" id="code_postal" name="code_postal" pattern="[0-9]{5}" maxlength="5" autocomplete="postal-code" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="mail">E-mail :</label>
                <input class="inputform2" type="email" id="mail" name="email" autocomplete="email" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="tel">Numéro de téléphone :</label>
                <input class="inputform2" type="tel" id="tel" name="tel" autocomplete="tel" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input class="inputform2" type="password" id="password" name="password" required>
                <p class="errform"></p>
            </div>
            <div>
                <label for="passwordconfirme">Confirmer mot de passe :</label>
                <input class="inputform2" type="password" id="passwordconfirme" name="passwordconfirme" required>
                <p class="errform"></p>
            </div>
            <span class="background-button">
                <button id="submit-button" class="buttonform">Valider</button>
            </span>
            
        </form>
    </div>

    

</div>