<!-- <div id="partpresentation">
    <ul >
        <h2 class="scroll-fade">Portfolio</h2>
        <p class="scroll-fade">Voici une sélection de différentes réalisations personnelles</p>
        <p class="scroll-fade">J'alimente très régulièrement cette page, n'hésitez pas à la consulter de temps en temps et à me faire un retour sur vos premières impressions ! </p>
    </ul>
</div> -->

<div id="contenu">
    <div id="photoOrVideo" >

        <div id="photoc" class="choiceClient">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M9 12c0-.552.448-1 1.001-1s.999.448.999 1-.446 1-.999 1-1.001-.448-1.001-1zm6.2 0l-1.7 2.6-1.3-1.6-3.2 4h10l-3.8-5zm5.8-7v-2h-21v15h2v-13h19zm3 2v14h-20v-14h20zm-2 2h-16v10h16v-10z"/></svg>
            <h2>Photo</h2>
        </div>
        <div id="videoc" class="choiceClient">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 5v18h20v-18h-20zm4 16h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm10 12h-8v-6h8v6zm0-8h-8v-6h8v6zm4 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm-1-6h-19v17h-2v-19h21v2z"/></svg>
            <h2>Vidéo</h2>
        </div>
        
    </div>

    <div id="photos">
        
    </div>
    <div id="videos">
        
    </div>
</div>

