<div id="clientcontent">
    <div id="arriereplan">
        <div id="contenuclient">
            <div class="contentsubclient" style="gap: 50px;">
                
                <h2 id="nomprenom" class="sous-titre" style="margin-left:20px"></h2>
                
                <div class="subcategoryclient">
                    <div style="background-image: url(/imgprofile/profile.png);"></div>
                    <h2 class="h2outil">Vos photos sont disponibles !</h2>
                </div>
            </div>

            <div id="contentPhotoTicket" class="cardPhotos">
                <div class="folderClientWithImgage" id="P1"></div>
                <div class="contentsubclient">
                    <div class="subcategoryclient-select" id="P2"></div>
                    <div class="subcategoryclient-select" id="P3"></div>
                </div>
            </div>
            <div id="downloadTicket" style="position: relative;" >
                <!-- <input type="file" id="downloadDossierPhoto"> -->
                <div class="background-button" id="animloaderticket" >
                    <button id="submitTicket" class="buttonform" style="border-radius: 50px; margin: 2px; z-index: 2;">Télécharger</button>
                </div>
            </div>
            <h2 class="h2outil" style="text-transform: none;">Merci de votre confiance. À bientot !</h2>
        </div>
    </div>
</div>