@import 'style.css';

#one{
    width: 100%;
    min-height: 100vh;
    background-color: #000000e6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 150px 10px;
}

#one #navback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #fff;
    background-color: #000000;
}

#sous-nav{
    position: absolute;
    width: 50%;
    right: 0;
    top: 100px;
    background-color: #000000;
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    gap: 100px;
    align-items: center;
    padding: 50px auto 100px auto;
    transition: all 0.2s ease-out;
    border-left: 2px solid #fff ;
    z-index: 10;
    
}

#sous-nav div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
}

#sous-nav div p{
    font-family: var(--font-fam-one);
    color: var(--color-font);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.itsok{
    color: green; /* Évite les bugs sur certains navigateurs */
    font-family: var(--font-fam-one);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.itserr{
    color: red; /* Évite les bugs sur certains navigateurs */
    font-family: var(--font-fam-one);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 2px;
}



.pageback{
    width: 95%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
}


.cara{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 50px;
}

.cara h2{
    font-family: var(--font-fam-one);
    color: var(--color-font);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    width: 100%;
}

.cara h2::before{
    position: absolute;
    content: '';
    bottom: -10px;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;

}

.cara > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
}

.param {
    color: #eee;
    font-family: var(--font-fam-one);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.input-subfolder{
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: #ffffff;
    color: black;
    font-family: var(--font-fam-one);
    outline: none;
}

.code-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.code-input{
    width: 20px;
    height: 30px;
    border: none;
    background-color: #fff;
    text-align: center;
    font-family: var(--font-fam-one);
    color: #000000;
    font-size: 1rem;

}

.form-subfolder-creat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
    max-width: 500px;
}

.h2-subfolder{
    color: #fff;
    font-family: var(--font-fam-one);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}

.editUser{
    position: absolute;
    right: -30px;
    top: -10px;
    transform: translateX(50%);
}

.edit{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #000000;
    padding: 3px;
    margin: 0.5px;
}

.param::after{
    border-radius: 50px;
    content: '';
    background: linear-gradient(var(--deg-), rgb(255 0 67) 0%, rgb(0 7 185) 88%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;

}

.param::before{
    content: '';
    position: absolute;
    background: linear-gradient(var(--deg-), rgb(255 0 67) 0%, rgb(0 7 185) 88%);
    filter: blur(10px); /* Intensifie l'effet lumineux */
    border-radius: 60px; /* Doit être un peu plus grand pour bien entourer l'élément */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}


.value{
    color: #fff; /* Évite les bugs sur certains navigateurs */
    font-family: var(--font-fam-one);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

#http{
    color: var(--green); /* Évite les bugs sur certains navigateurs */
    font-family: var(--font-fam-one);
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0px;
}


.translate{
    transform: translateX(100%);
}
