@import 'style.css';

#pics{
    background-color: #d2d2d2;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

#pics #produitimg{
    width: 70%;
    height: auto;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    
    border-radius: 20px;
    z-index: 10;
    animation: floatleger 3s ease-in-out infinite;
    box-shadow: 0px 20px 20px 0px #00000054;
}

@keyframes floatleger {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-10px) translateX(-50%); /* Déplace l'élément vers le haut */
    }
    100% {
        transform: translateY(0) translateX(-50%); /* Ramène l'élément à sa position d'origine */
    }
}

.backimg{
    position: absolute;
    /* -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); */
    width: auto;
    height: 100vh;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
    
}


#pics #conf{
    width: 100%;
    background-color: #ffffff;
    /* mix-blend-mode: multiply; */
    height: 30vh;
    padding-bottom: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#pics #conf div{
    width: auto !important;

}

#pics #conf::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--deg-), rgb(255 255 255) 0%, rgb(255 255 255) 88%);
    left: 0;
    top: -2px;

}

#pics #conf::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--before-color);
    left: 0;
    top: -2px;
    filter: blur(8px);
    
}

#pics #contentselect{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}


#pics #contentselect button{
    position: relative;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-fam-one);
    font-weight: 500;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
    background-color: #eee;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #fff;
}



#pics #contentselect button span{
    position: relative;
    z-index: 1;
}

#pics  #contentselect button::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Applique le flou */
    mix-blend-mode: multiply; /* Permet au flou de se fondre avec le fond */
    z-index: 0;
}

