@import 'style.css';

#main-content{
    gap: 0
}

#place{
    width: 100%;
    min-height: calc(80vh - 100px );
}

#pics{
    background-color: #d2d2d2;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    z-index: 10;
}

#pics #produitimg{
    width: 70%;
    height: auto;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    
    border-radius: 20px;
    z-index: 10;
    animation: floatleger 3s ease-in-out infinite;
    box-shadow: 0px 20px 20px 0px #00000054;
}

@keyframes floatleger {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-10px) translateX(-50%); /* Déplace l'élément vers le haut */
    }
    100% {
        transform: translateY(0) translateX(-50%); /* Ramène l'élément à sa position d'origine */
    }
}

.backimg{
    position: fixed;
    /* -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); */
    width: auto;
    height: 100vh;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
}


#pics #conf{
    width: 100%;
    background-color: #eee;
    color: #000000;
    padding: 70px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: start;
    box-shadow: 0px 0px 20px #00000040;
}



#choice{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    position: relative;
}

#selectPack{
    padding: 10px;
    background-color: #00000000;
    border: 2px solid #666;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
    color: #666;
}

#colorSelect{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
}

#colorsChoice{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.colorBubble{

    border-radius: 50%;
    height: 20px;
    width: 20px;
}

#Blanc{
    background-color: #eee;
}
#Noir{
    background-color: #000;
}
#Rose{
    background-color: #ffd0d6;
}
#Vert{
    background-color: #a9d1ba;
}

#titleProduit{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#titleProduit h2{
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 3rem;
    font-family: var(--font-fam-one);

}

#titleProduit h3{
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 2.1rem;
    font-family: var(--font-fam-one);

}

#contentpricee{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 15px;
}


#stockagePack{
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
}

#stockagePack span{
    font-size: 0.9rem;
    transform: translateY(3px);
}

#price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.barre{
    height: 2px;
    width: 200px;
    background-color: #666;
}

.bse-price{
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 3.3rem;
    font-family: var(--font-fam-one);
}

#pack{
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 2rem;
    font-family: var(--font-fam-one);
}


#price span{
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 2rem;
    font-family: var(--font-fam-one);
}

#conf ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    width: 100%;
    padding: 25px;
}

#conf ul li{
    list-style-type: none;
    width: 100%;
}

#conf ul li p{
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
}



#pics #conf::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--deg-), rgb(255 255 255) 0%, rgb(255 255 255) 88%);
    left: 0;
    top: -2px;

}

#pics #conf::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--before-color);
    left: 0;
    top: -2px;
    filter: blur(8px);
    
}

#pics #contentselect{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}


#pics #contentselect button{
    position: relative;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-fam-one);
    font-weight: 500;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
    background-color: #eee;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #fff;
}



#pics #contentselect button span{
    position: relative;
    z-index: 1;
}

#pics  #contentselect button::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Applique le flou */
    mix-blend-mode: multiply; /* Permet au flou de se fondre avec le fond */
    z-index: 0;
}

.fixed-image {
    position: fixed;
    top: 0; /* Aligner en haut */
    left: 0; /* Aligner à gauche */
    width: 100%; /* Taille personnalisée */
    height: auto; /* Garde les proportions */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.inputform2{
    position: relative;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-fam-one);
    font-weight: 500;
    color: #000000;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000003b;
}



#form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    position: relative;
    margin: 0 10px;
    background-size: cover;
    
}



.formProduit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    gap: 20px;
    padding: 50px 0;
    max-width: 600px;
    z-index: 21;
}


.iii{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    mix-blend-mode: multiply;
    padding: 25px 10px;
    box-shadow: 0px 0px 20px #00000059;
}

.iii div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.iii div label{
    font-family: var(--font-fam-one);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #111;
    width: 100%;
    
}

.msgInscription{
    font-family: var(--font-fam-one);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    min-height: 30px;
    text-align: center;
}

.good{
    color: var(--green);
}

.notgood{
    color: var(--red);
}

#paiementformSuccess{
    background-color: #fff;
    padding: 100px 10px;
    position: relative;
    border-radius: 10px;
    display: none;
}

#paiementformEchec{
    background-color: #fff;
    padding: 100px 10px;
    position: relative;
    border-radius: 10px;
    display: none;
}


.conteneurimgformproduit{
    position: absolute;
    top: 10px;
    left: 10px;
}

#formulaire{
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
    color: #ffffff;
    transform: translateX(-50%);
    margin-left: 50%;
    box-shadow: 0px 0px 10px #fff;
    text-shadow: 0px 0px 10px #fff, 0px 0px 20px #000000;
}