@import 'style.css';

#main-content {
    gap: 0
}


.contentToutesPhotos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2px;
}


.animphoto {
    /* width: 10px; */
    opacity: 0;
    /* height: 10px; */
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.3s ease-out;
    -o-transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.3s ease-out;
    transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.3s ease-out;

}

.animphoto.visible {
    width: 100%;
    opacity: 1;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}



.subcategoryclient-b {
    width: calc(50% - 1px);
    aspect-ratio: 1 / 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.1);
    /* Couleur pour assombrir */
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 3px #00000045;
    box-shadow: 0px 0px 3px #00000045;
    cursor: pointer;
}

.subcategoryclient-b:hover {
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 50;
}

/* :root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
} */


#pics {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.choice-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choice-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.8s ease;
    font-family: sans-serif;

    width: 100%;
    gap: 20px;
    position: relative;

}

.animebutton {
    height: 60px;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    transition: all 1s ease;
}

.animebutton.translatebuttoncolor {
    width: 0%;
}

.animebuttoncontent {
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.animebuttoncontent button {
    border-radius: 50px;
    width: 80px;
    height: 40px;
    font-family: var(--font-fam-one);
    font-weight: 500;
    font-size: 1rem;
    border: none;
}

.slogan {
    font-family: var(--font-fam-one);
    font-size: 1rem;
    width: 95%;
    text-align: center;
    font-weight: 500;
}

.choice-box.white {
    background-color: white;
    color: black;
    height: 100vh;

}

.choice-box.black {
    background-color: black;
    color: white;
    height: 0vh;
}

/* .choice-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
} */


.titless {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    gap: 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: var(--font-fam-one);
    top: 0%;
    left: 50%;


}

.black {
    color: #000;
}

.white {
    color: #fff;
}

.gradientTA {
    background: linear-gradient(to bottom, #000 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.filtered {
    filter: url(#textShadowFilter);
}

.choice-box.white.active {
    height: 50vh;
}

.choice-box.black.active {
    height: 50vh;
}





#blancontent {
    width: 100%;
    position: relative;
    display: none;
    opacity: 0;
    gap: 100px;
    flex-direction: column;
    justify-content: start;
    padding-top: 150px;
    padding-bottom: 100px;
    align-items: center;
    margin: 0;
    perspective: 1200px;
    transition: all 0.8s ease
}

#noircontent {
    width: 100%;
    height: 100%;

    position: relative;
    display: none;
    gap: 100px;
    flex-direction: column;
    justify-content: start;
    padding-top: 150px;
    align-items: center;
    margin: 0;
    perspective: 1200px;
}

.contentcarousel {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    perspective: 1200px;
}

.returncontent {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.returncontent img {
    width: 30px;
    height: 30px;
}

.titlepicscolor {
    font-family: var(--font-fam-two);
    font-size: 1.5rem;
    font-weight: 700;
    width: 90%;
    text-align: center;
    text-shadow: -3px 7px 5px #00000036;
}

.choixpacktitre {
    font-family: var(--font-fam-one);
    font-size: 3rem;
    text-align: center;
    color: #000;
    width: 95%;

    margin-top: 150px;
}

.carousel {
    position: relative;
    width: 112px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.carousel__item {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: brightness(0.4);
    /* À la place d'opacity: 0.5 */
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}


.mirror {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: bottom;
    transform: scaleY(-1);
    opacity: 1;
    filter: blur(1px);

    /* Dégradé vers la transparence à la FIN (bas) du reflet */
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}



/* Positions 3D */
.carousel__item.active {
    transform: translateZ(500px);
    filter: brightness(1);
    z-index: 3;
}

.carousel__item.left {
    transform: rotateY(45deg) translateX(-60%) translateZ(-100px);
    z-index: 2;
}

.carousel__item.right {
    transform: rotateY(-45deg) translateX(60%) translateZ(-100px);
    z-index: 2;
}


.separateur {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

}

.neumorphic-text {
  font-size: 2.5rem;
  color: #ffffffdd;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 2px;
  text-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.15),
    4px 4px 10px rgba(0, 0, 0, 0.1),
    6px 6px 14px rgba(0, 0, 0, 0.05),
    1px 1px 0 #ffffff; /* légère lumière en haut à gauche */
}


.choixpack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    perspective: 1200px;
}

.imgscontent {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    will-change: transform, box-shadow;
}




/* Image normale */
.normal {
    width: 280px;
    height: auto;
    display: block;
    transform-style: preserve-3d;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.layout {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}


.layout img {
    width: 30px;
    height: 30px;
}

.normal.active {
    transform: rotateY(5deg) rotateX(5deg) translateZ(-10px);
    box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 6%);
}

#subcategoryclient.active , #imgsMansory.active{
    transform: translateZ(50px) rotateY(5deg) rotateX(5deg) translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#layoutb.active {
    transform: translateZ(50px) rotateY(5deg) rotateX(5deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Galerie flottante (au centre) */
.scrollgalerie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    z-index: 1;
    max-height: 410px;
    /* height: 100%; */
    overflow-y: auto;
    scroll-behavior: smooth;
}

.scrollgalerie.active {
    transform: translate(-50%, -50%) rotateY(5deg) rotateX(5deg) translateZ(50px);
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 23%);
}


.imgsMansory {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    /* ou 2, 4 selon ton écran */
    -webkit-column-gap: 2px;
    -moz-column-gap: 2px;
    column-gap: 2px;

    width: 100%;
    margin: auto;
}

.imgsMansory img {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 2px;
}

.imgsMansory img:hover {
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 50;
}

#subcategoryclient{
    opacity: 1;
}

#imgsMansory{
    opacity: 0;
}



/* #imgsMansory,
#subcategoryclient {
    opacity: 0;
    transform: scale(0.98) translate(-50%, -50%) rotateY(0deg) rotateX(0deg) translateZ(0px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    height: auto;

} */

/* Reflet miroir */
.miroirpack {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 30%;
    object-fit: cover;
    object-position: bottom;
    transform: scaleY(-1) translateY(-97%);
    opacity: 1;
    filter: blur(1px);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.choicepack {
    opacity: 0;
    transition: all 0.8s ease;
}

#choicepackblanc.active {
    opacity: 1;

}


#choice {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    position: relative;
}

#selectPack {
    padding: 10px;
    background-color: #00000000;
    border: 2px solid #666;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
    color: #666;
}

#selectPack option {
    color: #666;
}

#colorSelect {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
}

#colorsChoice {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.colorBubble {

    border-radius: 50%;
    height: 20px;
    width: 20px;
}

#Blanc {
    background-color: #eee;
}

#Noir {
    background-color: #000;
}

#Rose {
    background-color: #ffd0d6;
}

#Vert {
    background-color: #a9d1ba;
}

#titleProduit {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#titleProduit h2 {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 3rem;
    font-family: var(--font-fam-one);

}

#titleProduit h3 {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 2.1rem;
    font-family: var(--font-fam-one);

}

#contentpricee {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 15px;
}


#stockagePack {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
}

#stockagePack span {
    font-size: 0.9rem;
    transform: translateY(3px);
}

#price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.barre {
    height: 2px;
    width: 200px;
    background-color: #666;
}

.bse-price {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 3.3rem;
    font-family: var(--font-fam-one);
}

#pack {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 2rem;
    font-family: var(--font-fam-one);
}


#price span {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
}

#conf ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    width: 100%;
    padding: 25px;
}

#conf ul li {
    list-style-type: none;
    width: 100%;
}

#conf ul li p {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
}



#pics #conf::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(var(--deg-), rgb(255 77 123) 0%, rgb(95 93 255) 88%);
    left: 0;
    top: -2px;

}

#pics #conf::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: linear-gradient(var(--deg-), rgb(255 0 67) 0%, rgb(0 10 255) 88%);
    left: 0;
    top: -5px;
    filter: blur(3px);

}

#pics #contentselect {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}


#pics #contentselect button {
    position: relative;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-fam-one);
    font-weight: 500;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
    background-color: #eee;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #fff;
}



#pics #contentselect button span {
    position: relative;
    z-index: 1;
}

#pics #contentselect button::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    /* Applique le flou */
    mix-blend-mode: multiply;
    /* Permet au flou de se fondre avec le fond */
    z-index: 0;
}

.fixed-image {
    position: fixed;
    top: 0;
    /* Aligner en haut */
    left: 0;
    /* Aligner à gauche */
    width: 100%;
    /* Taille personnalisée */
    height: auto;
    /* Garde les proportions */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.inputform2 {
    position: relative;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-fam-one);
    font-weight: 500;
    color: #000000;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000003b;
}



#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    position: relative;
    margin: 0 10px;
    background-size: cover;

}



.formProduit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    gap: 20px;
    padding: 50px 0;
    max-width: 600px;
    z-index: 21;
}


.iii {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    mix-blend-mode: multiply;
    padding: 25px 10px;
    box-shadow: 0px 0px 20px #00000059;
}

.iii div {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.iii div label {
    font-family: var(--font-fam-one);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #111;
    width: 100%;

}

.msgInscription {
    font-family: var(--font-fam-one);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    min-height: 30px;
    text-align: center;
}

.good {
    color: var(--green);
}

.notgood {
    color: var(--red);
}

#paiementformSuccess {
    background-color: #fff;
    padding: 100px 10px;
    position: relative;
    border-radius: 10px;
    display: none;
}

#paiementformEchec {
    background-color: #fff;
    padding: 100px 10px;
    position: relative;
    border-radius: 10px;
    display: none;
}


.conteneurimgformproduit {
    position: absolute;
    top: 10px;
    left: 10px;
}

#formulaire {
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-family: var(--font-fam-one);
    color: #ffffff;
    transform: translateX(-50%);
    margin-left: 50%;
    box-shadow: 0px 0px 10px #fff;
    text-shadow: 0px 0px 10px #fff, 0px 0px 20px #000000;
}